// ! разобраться что с line-height

body {
  // min-width: 1920px;
  // padding-left: 10px;
  // padding-right: 10px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;

  color: #7581a1;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 43px;
  padding-right: 44px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  color: #ffffff;
  background-color: #1085e4;
  border: 1px solid #1085e4;
  text-transform: uppercase;
}

.button:hover {
  color: #1085e4;
  background-color: #ffffff;
}

.btn-free {
  padding-top: 22px;
  padding-bottom: 19px;
  padding-left: 54px;
  padding-right: 55px;
  // font-family: "MyriadPro-Regular", sans-serif;
  font-weight: 400;
  letter-spacing: 1.7px;
}

.button--grey {
  color: #7e8bae;
  background-color: #cbdbe8;
  border: 1px solid #cbdbe8;
}

.button--grey:hover {
  color: #7e8bae;
  background-color: #fff;
}

.button--transparent {
  color: #8085b1;
  border: 2px solid #dce1e5;
  background-color: transparent;
}

.button--transparent:hover {
  color: #ffffff;
  border: 2px solid #1085e4;
  background-color: #1085e4;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.title-h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  // line-height: 50px;
  letter-spacing: -1.5px;
  color: #192b59;
  text-transform: capitalize;
}

// разделить на два разных
// .title-h2--bold {
// fz700
// }

// .title-h2--semibold {
// fz600
// }

.title-h2 span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  // line-height: 90px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #1085e4;
  text-transform: uppercase;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header {
  position: relative;
  padding-top: 53px;
  padding-bottom: 328px;
  background-color: #cccccc;
  background-image: url("../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.header__nav {
  margin-bottom: 299px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  width: 181px;
  height: 49px;
}

.nav__list {
  display: flex;
  @include reset-list;
  font-size: 12px;
  // line-height: 90px;
  font-weight: 700;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.nav__item-link {
  color: #6e7ea9;
  letter-spacing: 2.5px;
}

.nav__item + .nav__item {
  margin-left: 38px;
  // letter-spacing: 2.1px;
}

.header__title {
  position: relative;
  right: 5px;
  bottom: 1px;
  margin-bottom: 63px;
  max-width: 540px;
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
  letter-spacing: -2.4px;
  color: #192b59;
}

.header__link-wrapper a + a {
  margin-left: 17px;
}

.header__link {
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 41px;
  padding-right: 38px;
}

.header__content {
  position: relative;
  z-index: 999;
}

.header__image {
  position: absolute;
  right: 0;
  top: 18.9%;
  background-image: url("../img/header/header-screen.png");
  background-repeat: no-repeat;
  width: 895px;
  height: 740px;
  z-index: 2;
}

.content .button {
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 40px;
  padding-right: 39px;
  letter-spacing: 2.4px;
}

.sponsors {
  padding-top: 105px;
  padding-bottom: 100px;
  background-image: url("../img/sponsors/sponsors-bg.png");
  background-color: #1085e4;
  background-repeat: no-repeat;
  background-size: cover;
}

.sponsors__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include reset-list;
}

.token {
  width: 198px;
  height: 58px;
  background-image: url("../img/sponsors/token.png");
}

.magneto {
  position: relative;
  bottom: 5px;
  width: 200px;
  height: 69px;
  background-image: url("../img/sponsors/magneto.png");
}

.boohoo {
  width: 201px;
  height: 47px;
  background-image: url("../img/sponsors/boohoo.png");
}

.fractal {
  width: 200px;
  height: 69px;
  background-image: url("../img/sponsors/fractal.png");
}

.features {
  padding-top: 115px;
  padding-bottom: 120px;
}

.features__title h2 {
  padding-right: 10px;
  line-height: 50px;
}

.features__title h2 span {
  margin-bottom: 11px;
  margin-left: -1px;
  line-height: 25px;
  letter-spacing: 2.8px;
}

.grid {
  display: grid;
  grid-template-areas:
    "a c d"
    "b c d"
    "b f g"
    "e f g"
    "e h h";
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.grid-title {
  grid-area: a;
}

.grid-item-1 {
  grid-area: b;
}

.grid-item-2 {
  grid-area: c;
}

.grid-item-3 {
  grid-area: d;
}

.grid-item-4 {
  grid-area: e;
}

.grid-item-5 {
  grid-area: f;
}

.grid-item-6 {
  grid-area: g;
}

.grid-text {
  grid-area: h;
}

.grid__item {
  position: relative;
  // width: 350px;
  padding-top: 170px;
  padding-left: 50px;
  padding-right: 40px;
  padding-bottom: 38px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 18px #f4f4f4;
}

.grid__item h3 {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  color: #192b59;
}

.grid__item p {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.grid__item a {
  font-size: 14px;
  font-weight: 600;
  color: #1085e4;
}

.grid__text {
  margin: 0;
  padding: 0;
}

.grid__autor {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #000000;
}

.grid__autor a {
  font-size: 14px;
  color: #1085e4;
}

.grid-icon {
  position: absolute;
  top: 50px;
  left: 150px;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.grid-icon-1 {
  background-image: url("../img/best-features/mobile.png");
  width: 79px;
  height: 82px;
}

.grid-icon-2 {
  background-image: url("../img/best-features/document.png");
  width: 79px;
  height: 82px;
}

.grid-icon-3 {
  background-image: url("../img/best-features/tools.png");
  width: 89px;
  height: 85px;
}

.grid-icon-4 {
  background-image: url("../img/best-features/gear.png");
  width: 102px;
  height: 91px;
}

.grid-icon-5 {
  background-image: url("../img/best-features/computer.png");
  width: 85px;
  height: 90px;
}

.grid-icon-6 {
  background-image: url("../img/best-features/headfones.png");
  width: 100px;
  height: 87px;
}

.robot {
  padding-top: 52px;
  padding-bottom: 45px;
  background-color: #174eb1;
  background: linear-gradient(135deg, rgb(10, 32, 144), rgb(35, 119, 205));
}

.robot__wrap {
  display: flex;
  justify-content: space-between;
}

.robot__title {
  margin-bottom: 43px;
  font-size: 50px;
  line-height: 26px;
  font-weight: 600;
  color: #ffffff;
}

.robot__title span {
  margin-top: 60px;
  margin-bottom: 31px;
  letter-spacing: 2.6px;
  color: #00bffe;
}

.robot__text {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.form-wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 540px;
  padding: 8px;
  border: 2px solid #446cbc;
  border-radius: 50px;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
  font-size: 14px;
  line-height: 28px;
  color: #b1c3ee;
  border: none;
  background: transparent;
  border-radius: 50px;
}

.form-input:focus {
  border-radius: 50px;
  background: transparent;
  outline: none;
  border-radius: 50px;
}

.form-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b1c3ee;
}
.form-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1c3ee;
}
.form-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1c3ee;
}
.form-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b1c3ee;
}

.form-link.button {
  padding-top: 16px;
  padding-right: 43px;
  padding-bottom: 16px;
  padding-left: 45px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2.7px;
  border: 1px solid #1085e4;
  background: #1085e4;
}

.form-link.button:hover {
  color: #1085e4;
  border: 1px solid #cbdbe8;
  background: #cbdbe8;
}

.form-link.button:focus {
  outline: none;
}

.amazing-features {
  display: flex;
  background-color: #ffffff;
  background-image: url("../img/amazing-features/amazing-features-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.amazing-features__title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.amazing-features__term {
  font-weight: 700;
  color: #5a6789;
}

.amazing-features__difinition {
  font-size: 14px;
  line-height: 24px;
}

.fun {
  padding-top: 117px;
  padding-bottom: 106px;
  background-color: #e8f1fa;
}

.fun__title {
  max-width: 410px;
  margin: 0 auto;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  margin-bottom: 75px;
}

.fun__title span {
  font-size: 16px;
  margin-bottom: 14px;
  // line-height: 60px;
}

.fun__list {
  display: flex;
  justify-content: space-between;
  @include reset-list;
}

.fun__item {
  width: 255px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.fun__item span {
  display: block;
  margin-bottom: 20px;
  font-size: 60px;
  letter-spacing: -2px;
  color: #bacbdc;
}

.fun__item a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 2.5px;
  color: #1085e4;
}

.apps__title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.apps__available {
  font-weight: 700;
  line-height: 60px;
  color: #c4d2dd;
}

.apps__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.limpon__title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.control__title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.screen {
  padding-top: 111px;
  background-color: #edf6ff;
}

.screen__title {
  margin-bottom: 83px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1.2px;
}

.screen__title span {
  margin-bottom: 28px;
  font-size: 18px;
  letter-spacing: 3.5px;
}

.screen__image {
  position: relative;
  right: 5px;
  width: 1288px;
  height: 490px;
  margin: 0 auto;
}

// ? непонятно
.clients {
  padding-top: 200px;
  padding-bottom: 120px;
  background-image: url(../img/clients/blue-bg.png);
  background-position: 0 120px;
  background-repeat: no-repeat;
}

.clients__title {
  font-weight: 600;
  color: #ffffff;
}

.clients__title span {
  font-size: 18px;
  color: #85c8ff;
}

.cards {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__item {
  background-color: #ffffff;
  border-radius: 35px;
}

.cards__text {
  color: #8085b1;
}

.cards__title {
  font-size: 22px;
  line-height: 26px;
  font-size: 600;
  color: #000958;
}

.cards__link {
  font-size: 14px;
  line-height: 60px;
  font-weight: 600;
  color: #1085e4;
}

.plans {
  padding-bottom: 120px;
}

.plans__title {
  margin-bottom: 93px;
  font-weight: 600;
  text-align: center;
}

.plans__title span {
  font-size: 18px;
  margin-bottom: 30px;
}

.price {
  display: flex;
  justify-content: space-between;
  @include reset-list;
  text-align: center;
}

.price__item {
  position: relative;
  flex-basis: 31.5%;
  padding-top: 80px;
  padding-bottom: 95px;
  background-color: #f5faff;
}

.price__item:not(:nth-child(2)) {
  background-image: url("../img/price/Layer1.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  background-color: #f5faff;
}

.price__item:not(:nth-child(2)):after {
  position: absolute;
  content: "";
  width: 60px;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../img/price/Layer1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.price__item--current {
  color: #ffffff;
  background-color: #192b59;
}

.price__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 70px;
  line-height: 40px;
  font-weight: 700;
  color: #000958;
}

.price__title span {
  font-size: 20px;
  // line-height: 40px;
  color: #7b8ab2;
}

.price__item--current .price__title,
.price__item--current .price__currency,
.price__item--current .price__subtitle {
  color: #ffffff;
}

.price__subtitle {
  // display: block;
  // margin-bottom: 45px;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  color: #0084ff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.price__features {
  @include reset-list;
  margin-bottom: 54px;
}

.price__feature {
  font-size: 14px;
  line-height: 40px;
}

.price__btn {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 62px;
  padding-right: 62px;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../img/team/team-bg.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.team__suptitle {
  font-size: 18px;
}

.team__title {
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.team__title span {
  font-size: 18px;
  color: #85c8ff;
}

.profiles {
  display: flex;
  justify-content: space-between;
  text-align: center;
  @include reset-list;
}

.profiles__item {
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0 0 25px 5px #fafafa;
}

.profiles__prof {
  display: block;
  font-size: 14px;
  line-height: 60px;
  font-weight: 800;
  color: #1a88e1;
}

.profiles__name {
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
  color: #192b59;
}

.social-link {
  display: flex;
  justify-content: center;
  @include reset-list;
}

.submit {
  background-image: url(../img/submit/submit-bg.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.submit__title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #192b59;
}

.submit__form {
  display: flex;
  flex-direction: column;
  width: 515px;
}

.main-footer {
  background-color: #192b59;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  color: #b6bae0;
  line-height: 40px;
}

.footer__copyright-link {
  line-height: 40px;
  color: #1085e4;
  text-transform: uppercase;
}

.social {
  display: flex;
  @include reset-list;
}
