// ! разобраться что с line-height

body {
  // min-width: 320px;
  // width: 1920px;
  // max-width: 1920px;
  // padding-left: 10px;
  // padding-right: 10px;
  // margin: 0 auto;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;

  color: #7581a1;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 43px;
  padding-right: 44px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  color: #ffffff;
  background-color: #1085e4;
  border: 1px solid #1085e4;
  border-radius: 50px;
  text-transform: uppercase;
  transition: 0.7s;
}

.button:hover {
  color: #1085e4;
  background-color: #ffffff;
}

.btn-free {
  padding-top: 22px;
  padding-bottom: 19px;
  padding-left: 54px;
  padding-right: 55px;
  // font-family: "MyriadPro-Regular", sans-serif;
  font-weight: 400;
  letter-spacing: 1.7px;
}

.button--grey {
  color: #7e8bae;
  background-color: #cbdbe8;
  border: 1px solid #cbdbe8;
}

.button--grey:hover {
  color: #7e8bae;
  background-color: #fff;
}

.button--transparent {
  color: #8085b1;
  border: 2px solid #dce1e5;
  background-color: transparent;
}

.button--transparent:hover {
  color: #ffffff;
  border: 2px solid #1085e4;
  background-color: #1085e4;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.title-h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  // line-height: 50px;
  letter-spacing: -1.5px;
  color: #192b59;
  text-transform: capitalize;
}

// разделить на два разных
// .title-h2--bold {
// fz700
// }

// .title-h2--semibold {
// fz600
// }

.title-h2 span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  // line-height: 90px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #1085e4;
  text-transform: uppercase;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header {
  position: relative;
  padding-top: 53px;
  padding-bottom: 328px;
  background-color: #cccccc;
  background-image: url("../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.header__nav {
  margin-bottom: 299px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  width: 181px;
  height: 49px;
}

.nav__list {
  display: flex;
  @include reset-list;
  font-size: 12px;
  // line-height: 90px;
  font-weight: 700;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.nav__item-link {
  color: #6e7ea9;
  letter-spacing: 2.5px;
}

.nav__item + .nav__item {
  margin-left: 38px;
  // letter-spacing: 2.1px;
}

.header__title {
  position: relative;
  right: 5px;
  bottom: 1px;
  margin-bottom: 63px;
  max-width: 540px;
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
  letter-spacing: -2.4px;
  color: #192b59;
}

.header__link-wrapper a + a {
  margin-left: 17px;
}

.header__link {
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 41px;
  padding-right: 38px;
}

.header__content {
  position: relative;
  z-index: 999;
}

.header__image {
  position: absolute;
  right: 0;
  top: 18.9%;
  background-image: url("../img/header/header-screen.png");
  background-repeat: no-repeat;
  width: 895px;
  height: 740px;
  z-index: 2;
}

.content .button {
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 40px;
  padding-right: 39px;
  letter-spacing: 2.4px;
}

.sponsors {
  padding-top: 105px;
  padding-bottom: 100px;
  background-image: url("../img/sponsors/sponsors-bg.png");
  background-color: #1085e4;
  background-repeat: no-repeat;
  background-size: cover;
}

.sponsors__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include reset-list;
}

.token {
  width: 198px;
  height: 58px;
  background-image: url("../img/sponsors/token.png");
}

.magneto {
  position: relative;
  bottom: 5px;
  width: 200px;
  height: 69px;
  background-image: url("../img/sponsors/magneto.png");
}

.boohoo {
  width: 201px;
  height: 47px;
  background-image: url("../img/sponsors/boohoo.png");
}

.fractal {
  width: 200px;
  height: 69px;
  background-image: url("../img/sponsors/fractal.png");
}

.features {
  padding-top: 115px;
  padding-bottom: 94px;
}

.features__title h2 {
  margin-bottom: 20px;
  margin-left: -3px;
  padding-right: 10px;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.features__title h2 span {
  margin-bottom: 11px;
  margin-left: 2px;
  line-height: 25px; //?!
  letter-spacing: 2.8px;
}

.grid {
  display: grid;
  grid-template-areas:
    "a c d"
    "b c d"
    "b f g"
    "e f g"
    "e h h";
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

.grid-title {
  grid-area: a;
}

.grid-item-1 {
  grid-area: b;
}

.grid-item-2 {
  grid-area: c;
}

.grid-item-3 {
  grid-area: d;
}

.grid-item-4 {
  grid-area: e;
}

.grid-item-5 {
  grid-area: f;
}

.grid-item-6 {
  grid-area: g;
}

.grid-text {
  grid-area: h;
}

.grid__item {
  box-sizing: border-box;
  max-width: 350px;
  padding-top: 38px;
  padding-left: 45px;
  padding-right: 40px;
  padding-bottom: 69px;
  text-align: center;
  box-shadow: 0 1px 18px #f4f4f4;
  border-radius: 10px;
}

.grid__item h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  color: #192b59;
}

.grid__item p {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.grid__item a {
  font-size: 14px;
  font-weight: 600;
  color: #1085e4;
}

.grid__text {
  margin: 0;
  padding: 0;
}

.grid__description {
  margin: 0;
  margin-bottom: 12px;
  padding-left: 20px;
}

.grid__autor {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  padding-left: 25px;
  font-weight: 700;
  color: #000000;
}

.grid__autor a {
  font-size: 14px;
  color: #1085e4;
  letter-spacing: -0.5px;
}

.grid-icon {
  margin: 0 auto;
  margin-bottom: 21px;
  height: 92px;
  background-repeat: no-repeat;
  background-position: center;
  // display: block; //оно по умолчанию display: block
}

.grid-icon-1 {
  background-image: url("../img/best-features/mobile.png");
  background-size: 79px 82px;
}

.grid-icon-2 {
  background-image: url("../img/best-features/document.png");
  background-size: 73px 79px;
}

.grid-icon-3 {
  background-image: url("../img/best-features/tools.png");
  background-size: 89px 85px;
}

.grid-icon-4 {
  background-image: url("../img/best-features/gear.png");
  background-size: 103px 92px;
}

.grid-icon-5 {
  background-image: url("../img/best-features/computer.png");
  background-size: 85px 90px;
}

.grid-icon-6 {
  background-image: url("../img/best-features/headfones.png");
  background-size: 100px 87px;
}

.robot {
  padding-top: 52px;
  padding-bottom: 45px;
  background-color: #174eb1;
  background: linear-gradient(135deg, rgb(10, 32, 144), rgb(35, 119, 205));
}

.robot__wrap {
  display: flex;
  justify-content: space-between;
}

.robot__title {
  margin-bottom: 43px;
  font-size: 50px;
  line-height: 26px;
  font-weight: 600;
  color: #ffffff;
}

.robot__title span {
  margin-top: 60px;
  margin-bottom: 31px;
  letter-spacing: 2.6px;
  color: #00bffe;
}

.robot__text {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.form-wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 540px;
  padding: 8px;
  border: 2px solid #446cbc;
  border-radius: 50px;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  padding-right: 5px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 28px;
  color: #b1c3ee;
  border: none;
  background: transparent;
  border-radius: 50px;
}

.form-input:focus {
  border-radius: 50px;
  background: transparent;
  outline: none;
  border-radius: 50px;
}

.form-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b1c3ee;
}
.form-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b1c3ee;
}
.form-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b1c3ee;
}
.form-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b1c3ee;
}

.form-link.button {
  padding-top: 16px;
  padding-right: 43px;
  padding-bottom: 16px;
  padding-left: 45px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2.7px;
  border: 1px solid #1085e4;
  background: #1085e4;
}

.form-link.button:hover {
  color: #1085e4;
  border: 1px solid #cbdbe8;
  background: #cbdbe8;
}

.form-link.button:focus {
  outline: none;
}

.amazing-features {
  display: flex;
  justify-content: flex-end;
  padding-top: 118px;
  padding-bottom: 166px;
  background-color: #ffffff;
  background-image: url("../img/amazing-features/notebook.png"), url("../img/amazing-features/amazing-features-bg.png");
  background-position: left 82%, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
}

.amazing-features__flex {
  display: flex;
  justify-content: flex-end;
}

.amazing-features__wrap {
  flex-basis: 607px;
}

.amazing-features__icon {
  position: relative;
  top: -7px;
  left: -25px;
  width: 117px;
  height: 98px;
  background-image: url("../img/amazing-features/gear.png");
  background-repeat: no-repeat;
}

.amazing-features__title {
  margin-bottom: 25px;
  padding-right: 45px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -1px;
}

.amazing-features__content {
  margin: 0;
  margin-bottom: 29px;
}

.amazing-features__list {
  margin: 0;
  max-height: 340px;
  overflow: hidden;
  overflow-y: scroll;
}

.amazing-features__list::-webkit-scrollbar {
  width: 4px;
}

.amazing-features__list::-webkit-scrollbar-track {
  background: #f3f6ff;
}

.amazing-features__list::-webkit-scrollbar-thumb {
  background: #1085e4;
  border-radius: 10px;
}

.amazing-features__term {
  margin-bottom: 11px;
  font-weight: 700;
  color: #5a6789;
}

.amazing-features__definition {
  margin: 0;
  margin-bottom: 53px;
  padding-right: 52px;
  font-size: 14px;
  line-height: 24px;
}

.fun {
  position: relative;
  padding-top: 117px;
  padding-bottom: 106px;
  background-color: #e8f1fa;
}

.object-circle {
  display: block;
  position: absolute;
  top: 132px;
  left: 0;
  width: 663px;
  height: 663px;
  background-image: url("../img/circle.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.object-rectangle {
  display: block;
  position: absolute;
  top: -216px;
  right: -72px;
  width: 671px;
  height: 671px;
  background-image: url("../img/rect-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.fun__title {
  letter-spacing: -1.5px;
  position: relative;
  left: 11px;
  max-width: 410px;
  margin: 0 auto;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  margin-bottom: 75px;
}

.fun__title span {
  font-size: 16px;
  margin-bottom: 14px;
  // line-height: 60px;
}

.fun__list {
  display: flex;
  justify-content: space-between;
  @include reset-list;
}

.fun__item {
  width: 255px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.fun__item span {
  display: block;
  margin-bottom: 20px;
  font-size: 60px;
  letter-spacing: -2px;
  color: #bacbdc;
}

.fun__item a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 2.5px;
  color: #1085e4;
}

.apps {
  // position: relative;
  padding-top: 112px;
  padding-bottom: 93px;
  background-image: url("../img/intro-bg.png");
  background-repeat: no-repeat;
  background-size: 704px 218px;
  background-position: 49% 13%;
}

.apps__wrap {
  position: relative;
}

.apps__content {
  position: relative;
  z-index: 999;
  width: 55%;
}

.apps__title {
  margin-bottom: 36px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.apps__text {
  margin: 0;
  margin-bottom: 10px;
}

.apps__available {
  font-size: 16px;
  font-weight: 700;
  line-height: 60px;
  color: #c4d2dd;
  letter-spacing: 3.1px;
  text-transform: uppercase;
}

.apps__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-left: -15px;
  padding: 0;
  list-style: none;
}

.apps__item:first-child {
  margin-right: 2px;
}

.apps__item:first-child:hover {
  filter: opacity(70%);
}

.apps__item:first-child:active {
  filter: saturate(300%);
}

.apps__item:last-child:hover {
  filter: opacity(70%);
}

.apps__item:last-child:active {
  filter: saturate(300%);
}

.apps__img {
  position: absolute;
  top: 49%;
  transform: translate(0, -50%);
  right: -15%;
}

.limpon {
  padding-top: 129px;
  padding-bottom: 137px;
  background-image: url("../img/limpon/linpon-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.limpon__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.limpon__image {
  position: relative;
  top: 10px;
  left: -21px;
}

.limpon__content {
  width: 54.5%;
}

.limpon__icon {
  position: relative;
  top: -10px;
  left: -25px;
  width: 115px;
  height: 97px;
  background-repeat: no-repeat;
  background-image: url("../img/limpon/gear-with-tools-1.png");
}

.limpon__title {
  margin-bottom: 26px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.limpon__text {
  margin: 0;
  margin-bottom: 49px;
}

.limpon__link {
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 42px;
  padding-right: 39px;
}

.control {
  padding-top: 130px;
  padding-bottom: 137px;
  background-image: url("../img/control/control-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.control__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control__icon {
  position: relative;
  top: -10px;
  right: 24px;
  width: 115px;
  height: 97px;
  background-repeat: no-repeat;
  background-image: url("../img/limpon/gear-with-tools-1.png");
}

.control__content {
  width: 54.5%;
  padding-left: 30px;
}

.control__title {
  margin-bottom: 26px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.control__text {
  margin: 0;
  margin-bottom: 49px;
  padding-left: 2px;
}

.control__link {
  margin-left: 2px;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 64px;
  padding-right: 62px;
}

.control__image {
  position: relative;
  top: 9px;
  left: 22px;
}

.screen {
  padding-top: 112px;
  background-color: #edf6ff;
}

.screen__title {
  margin-bottom: 83px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1.2px;
}

.screen__title span {
  margin-bottom: 28px;
  font-size: 18px;
  letter-spacing: 3.5px;
}

.screen__image {
  position: relative;
  right: 5px;
  width: 1288px;
  height: 490px;
  margin: 0 auto;
}

.clients {
  padding-top: 193px;
  padding-bottom: 112px;
  background-image: url(../img/clients/blue-bg-1.svg);
  background-position: 0 120px;
  background-repeat: no-repeat;
}

.clients__title {
  margin-bottom: 72px;
  font-weight: 600;
  color: #ffffff;
}

.clients__title span {
  margin-bottom: 29px;
  font-size: 18px;
  letter-spacing: 3.5px;
  color: #85c8ff;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__item {
  box-sizing: border-box;
  padding-top: 34px;
  padding-right: 40px;
  padding-bottom: 39px;
  padding-left: 40px;
  flex-basis: 31.5%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 6px #f4f4f4;
}

.cards__text {
  margin: 0;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #8085b1;
}

.cards__title-wrapper {
  position: relative;
  padding-left: 68px;
}

.cards__title-wrapper::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 52px;
  left: 0;
  top: 0;
  border-radius: 50px;
  background-image: url("../img/clients/foto-1.png");
  background-size: 57px 52px;
  background-repeat: no-repeat;
  background-position: -3px 0;
  box-shadow: 0 15px 25px #b6ada9;
}

.cards__title {
  margin: 0;
  margin-bottom: -1px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.6px;
  color: #000958;
}

.cards__link {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.9px;
  // line-height: 60px;
  font-weight: 700;
  color: #1085e4;
}

.plans {
  padding-bottom: 120px;
}

.plans__title {
  margin-bottom: 93px;
  font-weight: 600;
  text-align: center;
}

.plans__title span {
  font-size: 18px;
  margin-bottom: 30px;
}

.price {
  display: flex;
  justify-content: space-between;
  @include reset-list;
  text-align: center;
}

.price__item {
  position: relative;
  flex-basis: 31.5%;
  padding-top: 80px;
  padding-bottom: 95px;
  background-color: #f5faff;
}

.price__item:not(:nth-child(2)) {
  background-image: url("../img/price/Layer1.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  background-color: #f5faff;
}

.price__item:not(:nth-child(2)):after {
  position: absolute;
  content: "";
  width: 60px;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../img/price/Layer1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.price__item--current {
  color: #ffffff;
  background-color: #192b59;
}

.price__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 70px;
  line-height: 40px;
  font-weight: 700;
  color: #000958;
}

.price__title span {
  font-size: 20px;
  // line-height: 40px;
  color: #7b8ab2;
}

.price__item--current .price__title,
.price__item--current .price__currency,
.price__item--current .price__subtitle {
  color: #ffffff;
}

.price__subtitle {
  // display: block;
  // margin-bottom: 45px;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  color: #0084ff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.price__features {
  @include reset-list;
  margin-bottom: 54px;
}

.price__feature {
  font-size: 14px;
  line-height: 40px;
}

.price__btn {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 62px;
  padding-right: 62px;
}

.team {
  padding-top: 113px;
  padding-bottom: 120px;
  background-image: url("../img/team/team-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.team__suptitle {
  font-size: 18px;
}

.team__title {
  margin-bottom: 149px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.team__title span {
  margin-bottom: 28px;
  font-size: 18px;
  color: #85c8ff;
}

// *старая версия, наверное не понадобится
// .social-link {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .social-link__item {
//   position: relative;
//   width: 50px;
//   height: 50px;
//   background-color: #f3f3f3;
//   border-radius: 50%;
// }

// .social-link__item::before,
// .social-link__item::after {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 16px;
//   height: 4px;
//   background-color: #a1aecf;
//   transform: translate(-50%, -50%);
// }

// .social-link__item::after {
//   top: 46%;
//   left: 34%;
//   transform: rotate(90deg);
// }

// .social-link__item + .social-link__item {
//   margin-left: 10px;
// }

// .social-link__item:hover {
//   background-color: rgba($color: #000, $alpha: 0.5);
//   box-shadow: 0 5px 5px #dedede;
//   cursor: pointer;
// }

// .social-link__item:active {
//   background-color: rgba($color: #fff, $alpha: 0.5);
//   box-shadow: 0 5px 5px #dedede;
// }

// *пока не надо
// .social-link__item.facebook:hover {
//   background-color: #1a88e1;
// }

// *пока не надо
// .social-link__item.facebook:active {
//   background-color: rgba($color: #fff, $alpha: 0.5);
//   box-shadow: 0 5px 5px #dedede;
// }

// .social-link {
//   display: flex;
//   justify-content: center;
//   @include reset-list;
// }

.profiles {
  display: flex;
  justify-content: space-between;
  text-align: center;
  @include reset-list;
}

.profiles__item {
  width: 350px;
  padding-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 6px #f8f8f8;
}

.profiles__img {
  margin-top: -86px;
  margin-bottom: 16px;
}

.profiles__prof {
  display: block;
  margin-bottom: 7px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;
  // line-height: 60px;
  font-weight: 800;
  color: #1a88e1;
}

.profiles__name {
  margin: 0;
  margin-bottom: 27px;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
  color: #192b59;
  letter-spacing: -0.7px;
}

.btn-team {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 100%;
  transition: 0.3s;
}

.btn-team:hover {
  background-color: #1a88e1;
  box-shadow: 0 5px 5px #dedede;
}

.btn-team span {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 21px;
  background-image: url("../img/team/team-btn.png");
  background-repeat: no-repeat;
}

.btn-more span {
  background-position: -9px -8px;
}

.btn-more:hover span {
  background-position: -9px -35px;
}

.btn-more:focus {
  outline: none;
}

.btn-facebook span {
  background-position: -28px -9px;
}

.btn-facebook:hover span {
  background-position: -28px -35px;
}

.btn-twitter span {
  background-position: -46px -10px;
}

.btn-twitter:hover span {
  background-position: -46px -35px;
}

.btn-be span {
  background-position: -69px -10px;
}

.btn-be:hover span {
  background-position: -69px -35px;
}

.btn-web span {
  background-position: -91px -9px;
}

.btn-web:hover span {
  background-position: -91px -35px;
}

.social-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @include reset-list;
}

.social-team li {
  margin-left: 5px;
  margin-right: 5px;
}

.submit {
  padding-top: 111px;
  padding-bottom: 120px;
  background-image: url("../img/submit/submit-bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.submit__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit__image img {
  position: relative;
  top: 10px;
  left: -22px;
}

.submit__content {
  width: 516px;
  padding-right: 95px;
}

.submit__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: #192b59;
}

.submit__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit__form input {
  margin-bottom: 21px;
}

.submit__form input,
.submit__form textarea {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 65px;
  padding-left: 40px;
  font-size: 14px;
  border: 2px solid #dce4ec;
  border-radius: 50px;
}

.submit__form input:focus,
.submit__form textarea:focus {
  outline: none;
}

.input-wrapper {
  position: relative;
}

.input-wrapper::after {
  position: absolute;
  content: "";
  position: absolute;
  top: 30%;
  right: 7.5%;
  margin: auto 0;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}

.input-wrapper:nth-child(1)::after {
  background-image: url("../img/submit/user.svg");
}

.input-wrapper:nth-child(2)::after {
  background-image: url("../img/submit/envelope.svg");
}

.textarea-wrapper::after {
  top: 27px;
  background-image: url("../img/submit/edit.svg");
}

.submit__form input::-webkit-input-placeholder,
.submit__form textarea::-webkit-input-placeholder {
  color: #8995b3;
}
.submit__form input::-webkit-input-placeholder,
.submit__form textarea:-ms-input-placeholder {
  color: #8995b3;
}
.submit__form input::-webkit-input-placeholder,
.submit__form textarea::-ms-input-placeholder {
  color: #8995b3;
}
.submit__form input::-webkit-input-placeholder,
.submit__form textarea::placeholder {
  color: #8995b3;
}

.submit__form textarea {
  margin-bottom: 33px;
  min-height: 160px;
  border-radius: 37px;
  resize: none;
}

.submit__button {
  position: relative;
  width: 232px;
  padding-top: 21px;
  padding-bottom: 23px;
  padding-left: 67px;
  padding-right: 44px;
  letter-spacing: 2px;
}

.submit__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 23.5%;
  width: 13px;
  height: 15px;
  background-image: url("../img/submit/paper-plane.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.submit__button:hover::before {
  filter: drop-shadow(0 0 1px #000);
}

.main-footer {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #192b59;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  padding-top: 4px;
  color: #b6bae0;
  line-height: 40px;
}

.footer__copyright-link {
  line-height: 40px;
  color: #1085e4;
  text-transform: uppercase;
}

.social {
  display: flex;
  align-items: center;
  @include reset-list;
}

.social__item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 2s;
}

.social__item > a svg {
  width: 15px;
  height: 15px;
}

.social__item > a:hover {
  background-color: #fff;
}

.social__item > a:hover svg path {
  fill: blue;
}

.social li + li {
  margin-left: 5px;
}
